/* styles */

.subcontainer {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.subcontainer_left {
    flex: 1.1;
    background-color: #292a2d;
}

.question {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question p {
    margin: 0;
    width: 600px;
    line-height: 60px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    background-color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg, #64b5f6, #2196f3);
}

.subcontainer_right {
    flex: 0.9;
    margin-left: 80px;
}

.subcontainer_right_info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subcontainer_right_info h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 4rem;
    width: 500px;
    margin: 0 0 10px 0;
}

.subcontainer_right_info h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
    width: 300px;
    margin: 0 0 10px 0;
}

.typing {
    width: 22ch;
    animation: typing 3s steps(13) 1s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.subcontainer_right_info button {
    margin-top: 30px;
    width: 300px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 80px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 0 7px #64b5f6;
    background-size: 200% auto;
    color: #000000;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #42a5f5 0%, #2196f3 51%, #2962ff 100%);
}

.subcontainer_right_info button:hover {
    box-shadow: 0 0 20px #2962ff;
    color: #ffffff;
    background-position: right center;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .subcontainer {
        flex-direction: column-reverse;
        align-content: center;
    }

    .subcontainer_right {
        flex: 0.8;
        margin-left: 50px;
    }

    .subcontainer_left {
        flex: 1.2;
        background-color: #292a2d;
    }

    .subcontainer_right_info {
        height: 50vh;
    }

    .subcontainer_right_info h1 {
        width: 300px;
        font-size: 2.5rem;
    }

    .subcontainer_right_info h2 {
        width: 300px;
    }

    .question {
        height: 50vh;
    }

    .question p {
        margin: 0 500px;
        width: 300px;
        line-height: 40px;
        font-size: 1.5rem;
        text-align: center;
    }
}

/*
#64B5F6
#42A5F5
#2196F3
#2962ff
*/
